*{
    padding: 0;
    margin: 0;
}

.container{
    width: 100%;    
    display: flex;
    justify-content: space-between;
}

.localizacao {
  
    
}



.localizacao h3{
    
    
}

.localizacao p{
    
     
}

.Siga h3{
   
    
}
.img {
  display: flex;
margin-top: 20px; 
         
}
.img ul{
    display: flex;
    list-style: none;
    margin-right: 10px;
}

.img ul img{ 
 width: 20px;
 height: 20px;   
    
    
 }
.texto { 
    display: inline-block;
    padding: 0 0 0 140px;
    padding-top: 8%;
    font-size: 12px;
    
}

form {
    margin: 40px;
    position: absolute;
    display: block;
    top: 35%;
    height: 30px;
    left: 800px;
    

}
form h3{
    padding: 0px 0px 15px 0px;
    align-items: center;
    
}
form label {
    display: block;
    font-size: 15px;
    margin: 0 0 5px;

}
.input {
    display: block;
    margin: 0 0 9px;
    padding: 5px 60px;
    width: 50%;
    background-color: darkgrey;
    border: 0;
}

.textarea {
    background-color: darkgrey;
}
.input3 {
    
    padding-left: 0px;
    background-color: #fff;
    border-radius: 0%;
    font-size: 15px;
   
    margin: 5px 0px 30px 0px;
    width: 30%;
    
    
    
    
}


   


